.outlineExpense {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3% 0;
    padding: 0 10px;
    height: 70px;
    border-bottom: 1px lightgray solid;
    border-left: 10px red solid;
    position: relative;
}
.outlineIncome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3% 0;
    padding: 0 10px;
    height: 70px;
    border-bottom: 1px lightgray solid;
    border-left: 10px green solid;
    position: relative;
}

.details {
    display: flex;
    flex-direction: column;
}

.details .name {
    font-weight: bold;
}

.details .date {
    color: lightgray;
}

.amount {
    font-weight: bold;
    font-size: 15px;
}

.delete {
    padding-left: 5%;
    font-size: 2.4rem;
    color: red;
}
.edit {
    font-size: 2.4rem;
    color: blue;
}
