.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    flex-direction: column;
}
.sginin {
    color: rgb(12, 153, 196);
    text-decoration: underline;
}

.spinner {
    width: 100%;
    
    
    display: flex;
    justify-content: center;
    
    font-size: 1.2rem;
    color: darkgray;
    margin-top: 40%;
    margin-bottom: 40%;
}
