* {
    box-sizing: border-box;
}
.todoItem {
    padding: 3% 0%;
}
.action {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    align-items: center;
}
.closeButton {
    margin-left: 4%;
    font-size: 2rem;
}
