.textbox {
    border: 1px solid rgb(199, 197, 197);
    padding: 3.5% 2%;
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 7%;
    border-radius: 4px;
}

.select {
    padding: 2% 0;
    font-size: 1.2rem;
    margin-bottom: 5%;
}

.datepicker {
    display: block;
    width: 100%;
}
.name {
    margin: 5% 0;
    font-weight: bold;
    font-size: 2rem;
}
