* {
    box-sizing: border-box;
}

.head {
    background-color: blue;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4%;
    padding: 2.4% 10% 6% 5%;
}

.heading {
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

.action {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.icon {
    color: white;
    font-size: 1.8rem;
}

.span {
    color: red;
    margin: 0 30%;
}
