* {
    box-sizing: border-box;
}

.head {
    background-color: blue;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4%;
    padding: 2.4% 2% 6% 2.5%;
}

.heading {
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}
