.outlineExpense {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3% 0;
    padding: 0 10px;
    height: 70px;
    border-bottom: 1px lightgray solid;
    border-left: 10px rgb(42, 3, 182) solid;
}
.outlineIncome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3% 0;
    padding: 0 10px;
    height: 70px;
    border-bottom: 1px lightgray solid;
    border-left: 10px green solid;
}

.details {
    display: flex;
    flex-direction: column;
}

.details .name {
    font-weight: bold;
}

.details .date {
    color: lightgray;
}

.amount {
    font-weight: bold;
    font-size: 15px;
}
