* {
    font-weight: bold;
}
.balancce {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px black solid;
    padding: 10px 10px;
    background-color: white;
}
