.nav-item .nav-link a.active {
    background-color: blue;
}

.add {
    position: fixed;
    bottom: 80px;
    right: 0;
}

.heading {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
