.emptyData {
    width: 100%;
    border: 1px black solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 6%;
    font-size: 1.2rem;
    color: darkgray;
    margin-top: 20%;
}

.heading {
    color: blue;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5% 0;
}

.icon {
    color: red;
    font-size: 1.8rem;
}
