@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
.card {
    margin: 2% 2%;
    position: relative;
}

.progressBar {
    margin: 6% 0%;
}

.completed {
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 5% 3%;
    width: 60%;
    height: 40%;
    left: 50px;
    bottom: 50px;
    z-index: 1;
    font-family: "Anton", sans-serif;
    font-size: 2rem;
    animation-name: completedTask;
    animation-duration: 2s;
}

@keyframes completedTask {
    0% {
        background-color: red;
        width: 10%;
        height: 8%;
        font-size: 0.3rem;
        transform-origin: center;
        transform: rotate(60deg);
    }
    20% {
        background-color: yellow;
        width: 20%;
        height: 16%;
        font-size: 0.6rem;
        transform-origin: center;
        transform: rotate(120deg);
    }
    40% {
        background-color: blue;
        width: 30%;
        height: 24%;
        font-size: 0.9rem;
        transform-origin: center;
        transform: rotate(180deg);
    }
    60% {
        background-color: green;
        width: 40%;
        height: 32%;
        font-size: 1.2rem;
        transform-origin: center;
        transform: rotate(240deg);
    }
    80% {
        background-color: yellow;
        width: 50%;
        height: 40%;
        font-size: 1.5rem;
        transform-origin: center;
        transform: rotate(300deg);
    }
    100% {
        background-color: red;
        width: 60%;
        height: 40%;
        font-size: 2rem;
        transform-origin: center;
        transform: rotate(360deg);
    }
}
